<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/avia_icon_application_light"
        android:label="@string/avia_app_name_light"
        android:supportsRtl="true"
        android:theme="@style/Theme.Avialight"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".AviaMainLightActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/avia_pac_n_light" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/avia_tok_light"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/avia_f_app_d_light" />
    </application>

</manifest>